doctype html
html
	head
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		title AWSArora
		script(src='/js/jquery.min.js')
		script(src='/js/popper.min.js')
		script(src='/js/bootstrap.min.js')
		link(rel='stylesheet', href='/css/style.css')
		link(rel='stylesheet', href='/css/bootstrap.min.css')
	body
		div.logo
			img(src="img/logo.png")
		